.lead-page-section{
    background-size: contain;
    background-repeat: no-repeat;
    .lead-section-title{
        a{
            color: #FFFFFF;
        }
        padding: 218px 0 269px;
        font-size: 6rem;
        letter-spacing: 2rem;
        line-height: 8.4rem;
        font-family: $bodoni;
        font-weight: $font-weight-light;
        }
}
