
.services-section{
    padding: 56px 0;
   
    .services-item{
        display: block;
        padding: 144px 95px 100px;
        background-size: cover;
        
        h3{
            font-family: $lato;
            font-size: 3.6rem;
            letter-spacing: 0;
            line-height: 4.4rem;
            margin-bottom: 3.6rem;
        }
        a{
            border: 1px solid #1E1E1E;
        }
    }//service-item end
    .services-item-secondary{
        display: block;
        padding: 143px 95px 135px;
        background-size: cover;
       h3{
            font-family: $lato;
            font-size: 3.6rem;
            letter-spacing: 0;
            line-height: 4.4rem;
            margin-bottom: 3.6rem;
        }
         a{
            border: 1px solid #1E1E1E;
            
        }
    }//service-item-secondary-end
    .services-item-third{
        display: block;
        padding: 144px 95px 154px;
        background-size: cover;
       h3{
            font-family: $lato;
            font-size: 3.6rem;
            letter-spacing: 0;
            line-height: 4.4rem;
            margin-bottom: 3.6rem;
        }
         a{
            border: 1px solid #1E1E1E;
            
        }
    }//service-item-third end
     .services-item-fourth{
        display: block;
        padding: 144px 95px 157px;
        background-size: cover;
       h3{
            font-family: $lato;
            font-size: 3.6rem;
            letter-spacing: 0;
            line-height: 4.4rem;
            margin-bottom: 3.6rem;
        }
         a{
            border: 1px solid #1E1E1E;
            
        }
    }//service-item-fourth end
    

}


